In [ ]:
import pandas as pd

:

In [2]:
data_amazonas = pd.read_csv("votacao_secao_2022_AM.csv", sep=";", encoding="latin1")
data_roraima = pd.read_csv("votacao_secao_2022_RR.csv", sep=";", encoding="latin1")

In [3]:
data_geral = pd.read_csv("votacao_secao_2022_BR.csv", sep=";", encoding="latin1")

In [4]:
print(f"Dimensão da base de dados de Amazonas: {data_amazonas.shape} \n Dimensão da base de dados de Roraima: {data_roraima.shape}")

Dimensão da base de dados de Amazonas: (1038876, 26)
 Dimensão da base de dados de Roraima: (197687, 26)

In [5]:
data_amazonas.head()

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,...,NR_SECAO,CD_CARGO,DS_CARGO,NR_VOTAVEL,NM_VOTAVEL,QT_VOTOS,NR_LOCAL_VOTACAO,SQ_CANDIDATO,NM_LOCAL_VOTACAO,DS_LOCAL_VOTACAO_ENDERECO
0,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,16,6,DEPUTADO FEDERAL,95,VOTO BRANCO,4,1023,-1,E. M. ATANÁZIA FRAZÃO,ESTRADA ALVARÃES NOGUEIRA
1,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,583,6,DEPUTADO FEDERAL,95,VOTO BRANCO,6,1872,-1,CIESA,"RUA 2 DE AGOSTO, 161"
2,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,740,6,DEPUTADO FEDERAL,95,VOTO BRANCO,25,2194,-1,E. E. PROF. DIANA PINHEIRO,AV. PRESIDENTE KENNED
3,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,488,6,DEPUTADO FEDERAL,95,VOTO BRANCO,20,1759,-1,E. E. PROF. ADELAIDE TAVARES DE MACEDO,"AV DES JOÃO MACHADO, CJ CANAÃ, RUA 01"
4,01/11/2022,16:05:25,2022,2,ELEIÇÃO ORDINÁRIA,1,546,ELEIÇÕES GERAIS ESTADUAIS 2022,02/10/2022,E,...,331,6,DEPUTADO FEDERAL,95,VOTO BRANCO,11,1708,-1,E. E. ROSINA FERREIRA DA SILVA,AV DES JOÃO MACHADO

In [6]:
data_amazonas_new = data_amazonas[['NR_TURNO', 'DS_CARGO', 'NM_VOTAVEL', 'QT_VOTOS']]

In [7]:
data_amazonas_new.head()

   NR_TURNO          DS_CARGO   NM_VOTAVEL  QT_VOTOS
0         1  DEPUTADO FEDERAL  VOTO BRANCO         4
1         1  DEPUTADO FEDERAL  VOTO BRANCO         6
2         1  DEPUTADO FEDERAL  VOTO BRANCO        25
3         1  DEPUTADO FEDERAL  VOTO BRANCO        20
4         1  DEPUTADO FEDERAL  VOTO BRANCO        11

In [8]:
data_roraima_new = data_roraima[['NR_TURNO', 'DS_CARGO', 'NM_VOTAVEL', 'QT_VOTOS']]

In [9]:
data_roraima_new.head()

   NR_TURNO           DS_CARGO                     NM_VOTAVEL  QT_VOTOS
0         1  DEPUTADO ESTADUAL  ILLO AUGUSTO DOS SANTOS FILHO         2
1         1  DEPUTADO ESTADUAL  ILLO AUGUSTO DOS SANTOS FILHO         2
2         1  DEPUTADO ESTADUAL  ILLO AUGUSTO DOS SANTOS FILHO         2
3         1  DEPUTADO ESTADUAL  ILLO AUGUSTO DOS SANTOS FILHO         1
4         1  DEPUTADO ESTADUAL  ILLO AUGUSTO DOS SANTOS FILHO         2

In [10]:
data_geral = data_geral[['NR_TURNO', 'SG_UF' ,'DS_CARGO', 'NM_VOTAVEL', 'QT_VOTOS']]

In [11]:
data_geral_presidente = data_geral[data_geral['DS_CARGO'] == 'PRESIDENTE']

In [12]:
data_amazonas_governador = data_amazonas_new[data_amazonas_new['DS_CARGO'] == 'GOVERNADOR']
data_amazonas_senador = data_amazonas_new[data_amazonas_new['DS_CARGO'] == 'SENADOR']
data_roraima_senador = data_roraima_new[data_roraima_new['DS_CARGO'] == 'SENADOR']
data_roraima_governador = data_roraima_new[data_roraima_new['DS_CARGO'] == 'GOVERNADOR']
data_presidente = data_geral_presidente[(data_geral_presidente['SG_UF'] == 'AM') | (data_geral_presidente['SG_UF'] == 'RR')].reset_index()

data_amazonas_governador['Estado'] = 'AM'
data_roraima_governador['Estado'] = 'RR'
data_amazonas_senador['Estado'] = 'AM'
data_roraima_senador['Estado'] = 'RR'



data_governador = pd.concat([data_amazonas_governador, data_roraima_governador], ignore_index=True)

data_senador = pd.concat([data_amazonas_senador, data_roraima_senador], ignore_index=True)

C:\Users\ligab\AppData\Local\Temp\ipykernel_30968\57202290.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_amazonas_governador['Estado'] = 'AM'
C:\Users\ligab\AppData\Local\Temp\ipykernel_30968\57202290.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_roraima_governador['Estado'] = 'RR'
C:\Users\ligab\AppData\Local\Temp\ipykernel_30968\57202290.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_amazonas_senador['Estado'] = 'AM'
C:\Users\ligab\AppData\Local\Temp\ipykernel_30968\57202290.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_roraima_senador['Estado'] = 'RR'

In [13]:
data_presidente["Estado"] = data_presidente['SG_UF']
data_presidente = data_presidente.drop(columns = ['SG_UF', 'index'])

In [14]:
data_presidente

       NR_TURNO    DS_CARGO                 NM_VOTAVEL  QT_VOTOS Estado
0             1  PRESIDENTE  LUIZ INÁCIO LULA DA SILVA       176     AM
1             1  PRESIDENTE  LUIZ INÁCIO LULA DA SILVA       137     AM
2             1  PRESIDENTE  LUIZ INÁCIO LULA DA SILVA       156     AM
3             1  PRESIDENTE  LUIZ INÁCIO LULA DA SILVA       143     AM
4             1  PRESIDENTE  LUIZ INÁCIO LULA DA SILVA        44     RR
...         ...         ...                        ...       ...    ...
96627         1  PRESIDENTE    SORAYA VIEIRA THRONICKE         1     AM
96628         1  PRESIDENTE    SORAYA VIEIRA THRONICKE         1     AM
96629         1  PRESIDENTE    SORAYA VIEIRA THRONICKE         1     AM
96630         1  PRESIDENTE    SORAYA VIEIRA THRONICKE         3     AM
96631         1  PRESIDENTE    SORAYA VIEIRA THRONICKE         1     AM

[96632 rows x 5 columns]

In [15]:
data_governador

       NR_TURNO    DS_CARGO                   NM_VOTAVEL  QT_VOTOS Estado
0             1  GOVERNADOR                  VOTO BRANCO         2     AM
1             1  GOVERNADOR                  VOTO BRANCO         3     AM
2             1  GOVERNADOR                  VOTO BRANCO         8     AM
3             1  GOVERNADOR                  VOTO BRANCO        20     AM
4             1  GOVERNADOR                  VOTO BRANCO         5     AM
...         ...         ...                          ...       ...    ...
97070         1  GOVERNADOR  JURACI FRANCISCO DOS SANTOS         1     RR
97071         1  GOVERNADOR  JURACI FRANCISCO DOS SANTOS         2     RR
97072         1  GOVERNADOR  JURACI FRANCISCO DOS SANTOS         1     RR
97073         1  GOVERNADOR  JURACI FRANCISCO DOS SANTOS         3     RR
97074         1  GOVERNADOR  JURACI FRANCISCO DOS SANTOS         1     RR

[97075 rows x 5 columns]

In [16]:
data_senador

       NR_TURNO DS_CARGO         NM_VOTAVEL  QT_VOTOS Estado
0             1  SENADOR          VOTO NULO        10     AM
1             1  SENADOR          VOTO NULO        11     AM
2             1  SENADOR          VOTO NULO        29     AM
3             1  SENADOR          VOTO NULO        28     AM
4             1  SENADOR          VOTO NULO        18     AM
...         ...      ...                ...       ...    ...
73035         1  SENADOR  ROMERO JUCÁ FILHO       113     RR
73036         1  SENADOR  ROMERO JUCÁ FILHO        73     RR
73037         1  SENADOR  ROMERO JUCÁ FILHO        74     RR
73038         1  SENADOR  ROMERO JUCÁ FILHO        66     RR
73039         1  SENADOR  ROMERO JUCÁ FILHO        40     RR

[73040 rows x 5 columns]

In [17]:
data_governador_expanded = data_governador.loc[data_governador.index.repeat(data_governador['QT_VOTOS'])].reset_index(drop=True)
data_governador_expanded = data_governador_expanded.drop(columns=['QT_VOTOS'])

data_senador_expanded = data_senador.loc[data_senador.index.repeat(data_senador['QT_VOTOS'])].reset_index(drop=True)
data_senador_expanded = data_senador_expanded.drop(columns=['QT_VOTOS'])

data_presidente_expanded = data_presidente.loc[data_presidente.index.repeat(data_presidente['QT_VOTOS'])].reset_index(drop=True)
data_presidente_expanded = data_presidente_expanded.drop(columns=['QT_VOTOS'])

In [18]:
data_governador_expanded

         NR_TURNO    DS_CARGO                   NM_VOTAVEL Estado
0               1  GOVERNADOR                  VOTO BRANCO     AM
1               1  GOVERNADOR                  VOTO BRANCO     AM
2               1  GOVERNADOR                  VOTO BRANCO     AM
3               1  GOVERNADOR                  VOTO BRANCO     AM
4               1  GOVERNADOR                  VOTO BRANCO     AM
...           ...         ...                          ...    ...
4480268         1  GOVERNADOR  JURACI FRANCISCO DOS SANTOS     RR
4480269         1  GOVERNADOR  JURACI FRANCISCO DOS SANTOS     RR
4480270         1  GOVERNADOR  JURACI FRANCISCO DOS SANTOS     RR
4480271         1  GOVERNADOR  JURACI FRANCISCO DOS SANTOS     RR
4480272         1  GOVERNADOR  JURACI FRANCISCO DOS SANTOS     RR

[4480273 rows x 4 columns]

In [19]:
data_senador_expanded

         NR_TURNO DS_CARGO         NM_VOTAVEL Estado
0               1  SENADOR          VOTO NULO     AM
1               1  SENADOR          VOTO NULO     AM
2               1  SENADOR          VOTO NULO     AM
3               1  SENADOR          VOTO NULO     AM
4               1  SENADOR          VOTO NULO     AM
...           ...      ...                ...    ...
2415189         1  SENADOR  ROMERO JUCÁ FILHO     RR
2415190         1  SENADOR  ROMERO JUCÁ FILHO     RR
2415191         1  SENADOR  ROMERO JUCÁ FILHO     RR
2415192         1  SENADOR  ROMERO JUCÁ FILHO     RR
2415193         1  SENADOR  ROMERO JUCÁ FILHO     RR

[2415194 rows x 4 columns]

In [20]:
data_presidente_expanded

         NR_TURNO    DS_CARGO                 NM_VOTAVEL Estado
0               1  PRESIDENTE  LUIZ INÁCIO LULA DA SILVA     AM
1               1  PRESIDENTE  LUIZ INÁCIO LULA DA SILVA     AM
2               1  PRESIDENTE  LUIZ INÁCIO LULA DA SILVA     AM
3               1  PRESIDENTE  LUIZ INÁCIO LULA DA SILVA     AM
4               1  PRESIDENTE  LUIZ INÁCIO LULA DA SILVA     AM
...           ...         ...                        ...    ...
4773314         1  PRESIDENTE    SORAYA VIEIRA THRONICKE     AM
4773315         1  PRESIDENTE    SORAYA VIEIRA THRONICKE     AM
4773316         1  PRESIDENTE    SORAYA VIEIRA THRONICKE     AM
4773317         1  PRESIDENTE    SORAYA VIEIRA THRONICKE     AM
4773318         1  PRESIDENTE    SORAYA VIEIRA THRONICKE     AM

[4773319 rows x 4 columns]

In [21]:
data_governador_expanded[data_governador_expanded["Estado"] == "AM"].value_counts()

NR_TURNO  DS_CARGO    NM_VOTAVEL                     Estado
2         GOVERNADOR  WILSON MIRANDA LIMA            AM        1039192
1         GOVERNADOR  WILSON MIRANDA LIMA            AM         819784
2         GOVERNADOR  CARLOS EDUARDO DE SOUZA BRAGA  AM         795098
1         GOVERNADOR  CARLOS EDUARDO DE SOUZA BRAGA  AM         401817
                      AMAZONINO ARMANDO MENDES       AM         355377
                      LUIS RICARDO SALDANHA NICOLAU  AM         217588
2         GOVERNADOR  VOTO NULO                      AM         157882
1         GOVERNADOR  VOTO NULO                      AM         138218
                      CAROLINE DA SILVA BRAZ         AM          87114
2         GOVERNADOR  VOTO BRANCO                    AM          72907
1         GOVERNADOR  VOTO BRANCO                    AM          58257
                      ISRAEL FONTES DUTRA            AM          21229
                      JOSE HENRIQUE OLIVEIRA         AM           9596
                      NAIR QUEIROZ BLAIR             AM           1895
Name: count, dtype: int64

In [22]:
data_senador_expanded[data_senador_expanded["Estado"] == "AM"].value_counts()

NR_TURNO  DS_CARGO  NM_VOTAVEL                             Estado
1         SENADOR   OMAR JOSÉ ABDEL AZIZ                   AM        784007
                    ALFREDO ALEXANDRE DE MENEZES JUNIOR    AM        737875
                    ARTHUR VIRGILIO DO CARMO RIBEIRO NETO  AM        179886
                    LUIZ CASTRO ANDRADE NETO               AM        131116
                    VOTO NULO                              AM        127294
                    VOTO BRANCO                            AM         90811
                    MARILIA FREIRE DA SILVA                AM         28557
                    ELISSANDRO AMORIM BESSA                AM         17339
                    MARCO ANTONIO SOUZA RIBEIRO DA COSTA   AM         10200
                    PETER JUNIOR MIRANDA                   AM          3790
Name: count, dtype: int64

In [23]:
## Salvar como CSV
data_governador_expanded.to_csv("data_governador_expanded.csv", index=False)
data_senador_expanded.to_csv("data_senador_expanded.csv", index=False)
data_presidente_expanded.to_csv("data_presidente_expanded.csv", index=False)